<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="URF-8">
    <title>Vue入门</title>
    <script src="./vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
</head>

<body>
    <!--

-->
    <div id="root">
        <!--
          vi-if 注意赋值的差别 true 和 'true'
    -->
        <h1 v-if="awesome">Vue is awesome!</h1>
        <h1 v-else>Oh no 😢</h1>

        <br>
        <template v-if="ok">
            <h1>Title</h1>
            <p>Paragraph 1</p>
            <p>Paragraph 2</p>
        </template>
        <br>

        <div v-if="type === 'A'">
            A
        </div>
        <div v-else-if="type === 'B'">
            B
        </div>
        <div v-else-if="type === 'C'">
            C
        </div>
        <div v-else>
            Not A/B/C
        </div>

        <br>
        <!-- Vue 会尽可能高效地渲染元素，通常会复用已有元素而不是从头开始渲染。这么做除了使 Vue 变得非常快之外，还有其它一些好处。
        例如，如果你允许用户在不同的登录方式之间切换：
      那么在上面的代码中切换 loginType 将不会清除用户已经输入的内容。因为两个模板使用了相同的元素，<input> 不会被替换掉——仅仅是替换了它的 placeholder。
      这样也不总是符合实际需求，所以 Vue 为你提供了一种方式来表达“这两个元素是完全独立的，不要复用它们”。只需添加一个具有唯一值的 key attribute 即可：
      -->
      <!-- shift alt f 格式化代码 -->
        <template v-if="loginType === 'username'">
            <label>Username</label>
            <input placeholder="Enter your username" key='username-input'>
        </template>
        <template v-else>
            <label>Email</label>
            <input placeholder="Enter your email address" key='email-input'>
        </template>
        <button @click="loginTypeMethod">切换登陆方式</button>
    </div>

    <script>
        var data = {
            "firstName": "春",
            "lastName": "李",
            "question": '',
            "answer": "I cannot give you an answer until you ask a question!",
            "awesome": false,
            "ok": true,
            type: 'D',
            "loginType": 'username'
        };

        var root = new Vue({
            el: "#root",
            data: data,
            methods: {
                doSomething: function () {
                    alert("doSomething")
                },
                loginTypeMethod: function(){
                    this.loginType = '1'
                }
            },

            watch: {

            },
            created: function () {
            }



        });


    </script>

    <style scoped>
        .divGreen {
            color: green;
        }

        .divRed {
            color: red;
        }
    </style>
</body>

</html>